<%= flash_messages %>
<div class="block">
	<header class="header-group">
		<h2>This is where you log-in, you piece of shit</h2>
	</header>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
</div>