
<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => "reload" %>
<%= javascript_include_tag "application", "data-turbolinks-track" => "reload" %>

 <!-- REVOLUTION SLIDER -->
      <div class="slider fullwidthbanner-container roundedcorners">
        <!--
					Navigation Styles:
					
						data-navigationStyle="" theme default navigation
						
						data-navigationStyle="preview1"
						data-navigationStyle="preview2"
						data-navigationStyle="preview3"
						data-navigationStyle="preview4"
						
					Bottom Shadows
						data-shadow="1"
						data-shadow="2"
						data-shadow="3"
						
					Slider Height (do not use on fullscreen mode)
						data-height="300"
						data-height="350"
						data-height="400"
						data-height="450"
						data-height="500"
						data-height="550"
						data-height="600"
						data-height="650"
						data-height="700"
						data-height="750"
						data-height="800"
				-->
        <div
          class="fullwidthbanner"
          data-height="600"
          data-shadow="0"
          data-navigationStyle="preview2"
        >
          <ul class="hide">





            <!-- Slide 1: Slogan - Lien vers l’offre de services, Lien vers le formulaire de demande de soumission  -->
            <li
              data-transition="parallaxtotop"
              data-slotamount="7"
              data-masterspeed="300"
              data-saveperformance="off"
              data-title="Rocket Elevators"
            >
              <!-- MAIN IMAGE -->
              <img
                src="assets/images/rocketslider.jpeg"
                alt="cover image"
                data-bgposition="center"
                data-bgfit="cover"
                data-bgrepeat="no-repeat"
              />

              <div class="overlay dark-4">
                <!-- dark overlay [0 to 9 opacity] -->
              </div>

             

              <div
                class="tp-caption font-roboto skewfromleft tp-resizeme"
                data-x="50"
                data-y="200"
                data-speed="500"
                data-start="1500"
                data-easing="Cubic.easeOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.1"
                data-endelementdelay="0.1"
                data-endspeed="500"
                style="
                  z-index: 2;
                  color:rgb(210, 222, 233);
                  font-size: 65px;
                  line-height: 85px;
                  font-weight: bold;
                  letter-spacing: 0;
                  text-shadow: none;
                "
              >
                Elevate Safety,
              </div>
              <div
              class="tp-caption font-roboto skewfromleft tp-resizeme"
              data-x="525"
              data-y="200"
              data-speed="500"
              data-start="2500"
              data-easing="Cubic.easeOut"
              data-splitin="none"
              data-splitout="none"
              data-elementdelay="0.1"
              data-endelementdelay="0.1"
              data-endspeed="500"
              style="
                z-index: 2;
                color:rgb(210, 222, 233);
                font-size: 65px;
                line-height: 85px;
                font-weight: bold;
                letter-spacing: 0;
                text-shadow: none;
              "
            >
              Speed
            </div>
            <div
            class="tp-caption font-roboto skewfromleft tp-resizeme"
            data-x="730"
            data-y="200"
            data-speed="500"
            data-start="3500"
            data-easing="Cubic.easeOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="500"
            style="
              z-index: 2;
              color:rgb(210, 222, 233);
              font-size: 65px;
              line-height: 85px;
              font-weight: bold;
              letter-spacing: 0;
              text-shadow: none;
            "
          >
            and Style
          </div>
              <div
                class="tp-caption sfb tp-resizeme"
                data-x="850"
                data-y="400"
                data-speed="500"
                data-start="4000"
                data-easing="Power3.easeIn"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="1"
                data-endelementdelay="0.1"
                data-endspeed="500"
				style="
				z-index: 4;
				max-width: auto;
				max-height: auto;
				white-space: nowrap;
				  "
			  >	  
                <a class="btn btn-secondary btn-lg" href="#services"
                  >Services Offered &nbsp; <i class="fa fa-angle-right"></i
                ></a>
              </div>

              <div
                class="tp-caption sfb tp-resizeme"
                data-x="850"
                data-y="470"
                data-speed="500"
                data-start="4500"
                data-easing="Power3.easeInOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.1"
                data-endelementdelay="0.1"
                data-endspeed="500"
                style="
                  z-index: 6;
                  max-width: auto;
                  max-height: auto;
                  white-space: nowrap;
                "
              >
                <a class="btn btn-secondary btn-lg" href="quote.html"
                  >Get a Quote &nbsp; <i class="fa fa-angle-right"></i
                ></a>
                
              </div>
              <div
              class="tp-caption tp-fade"
              data-x="center"
              data-y="center"
              data-speed="300"
              data-start="800"
              data-easing="Power3.easeInOut"
              data-elementdelay="0.1"
              data-endelementdelay="0.1"
              data-endspeed="300"
              style="z-index: 1"
            >
              <img
                src="assets/images/rocketlogo.png"
                alt=""
                style="width:300px;height:400px;"
              />
            </div>

            </li>







            <!-- Slide 2: Promotion du service pour immeubles résidentiels et lien vers la page de détail du service résidentiel
  -->
            <li
              data-transition="parallaxtobottom"
              data-slotamount="7"
              data-masterspeed="700"
              data-saveperformance="off"
              data-title="Residential Services"
            >
              <!-- MAIN IMAGE -->
              <img
                src="assets/images/residentialslider.jpeg"
                alt="cover image"
                data-bgposition="Pcenter top"
                data-bgfit="cover"
                data-bgrepeat="no-repeat"
              />
              <div class="overlay dark-4">
                <!-- dark overlay [0 to 9 opacity] -->
              </div>
              <div
                class="tp-caption white_big skewfromleft tp-resizeme"
                data-x="left"
                data-y="100"
                data-speed="400"
                data-start="1500"
                data-easing="Power3.easeInOut"
                data-splitin="words"
                data-splitout="none"
                data-elementdelay="0.1"
                data-endelementdelay="0.1"
                data-endspeed="600"
                style="
                  z-index: 2;
                  color: #fff;
                  font-size: 55px;
                  line-height: 85px;
                  font-weight: bold;
                  letter-spacing: 0;
                  text-shadow: none;
                "
              >
                Take your home to the next level!
              </div>

              <div
                class="tp-caption skewfromleft tp-resizeme un-button-2-lg"
                data-x="125"
                data-y="220"
                data-speed="300"
                data-start="2500"
                data-easing="Power3.easeInOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.1"
                data-endelementdelay="0.1"
                data-endspeed="300"
                style="
                  z-index: 5;
                  max-width: auto;
                  max-height: auto;
                  white-space: nowrap;
                "
              >
                <a class="btn btn-red btn-lg" href="residential.html"
                  >Residential Services &nbsp; <i class="fa fa-angle-right"></i
                ></a>
              </div>
            </li>




            <!-- Slide 3: Promotion du service pour immeubles corporatifs et lien vers la page de détail du service corporatif -->
            <li
              data-transition="parallaxtobottom"
              data-slotamount="7"
              data-masterspeed="700"
              data-saveperformance="off"
              data-title="Commercial Services"
            >
              <!-- MAIN IMAGE -->
              <img
                src="assets/images/commercialslider.jpeg"
                alt="cover image"
                data-bgposition="Pcenter top"
                data-bgfit="cover"
                data-bgrepeat="no-repeat"
              />
              <div class="overlay dark-4">
                <!-- dark overlay [0 to 9 opacity] -->
              </div>
              <div
                class="tp-caption white_big skewfromleft tp-resizeme"
                data-x="center"
                data-y="100"
                data-speed="400"
                data-start="1500"
                data-easing="Power3.easeInOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.1"
                data-endelementdelay="0.1"
                data-endspeed="600"
                style="
                  z-index: 2;
                  color:rgb(229, 235, 241);
                  font-size: 46px;
                  line-height: 85px;
                  font-weight: bold;
                  letter-spacing: 0;
                  text-shadow: none;
                "
              >
              Let us help you lift your company to prosperity!
            </div>

              <div
                class="tp-caption skewfromleft tp-resizeme un-button-2-lg"
                data-x="center"
                data-y="220"
                data-speed="300"
                data-start="2500"
                data-easing="Power3.easeInOut"
                data-splitin="none"
                data-splitout="none"
                data-elementdelay="0.1"
                data-endelementdelay="0.1"
                data-endspeed="300"
                style="
                  z-index: 5;
                  max-width: auto;
                  max-height: auto;
                  white-space: nowrap;
                "
              >
                <a class="btn btn-blue btn-lg" href="commercial.html"
                  >Commercial Services &nbsp; <i class="fa fa-angle-right"></i
                ></a>
              </div>
            </li>

          </ul>
        </div>
      </div>






      <!-- /REVOLUTION SLIDER -->