/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'custom-forms-v2.scss';
@import 'demo-menu-blue.scss';
@import 'essentials';
@import'header-0';
@import 'header-1';
@import 'header-2';
@import 'layout-dark';
@import 'layout-datatables.scss';
@import 'layout-footable-minimal.scss';
@import 'layout-jqgrid.scss';
@import 'layout-RTL.scss';
@import 'layout-shop.scss';
@import 'layout';
@import 'plugin-hover-buttons.scss';
@import 'thematics-construction.scss';
@import 'layout-font-rewrite';
@import 'red';
@import 'blue';
@import 'bootstrap.min.scss';
@import 'bootsrap-flipped.scss';
@import 'bootstrap-flipped.css.map.scss';
@import 'bootstrap-rtl-merged.scss';
@import 'bootstrap-rtl-merged.min.scss';
@import 'bootstrap-rtl.scss';
@import 'bootstrap-rtl.css.map.scss';
@import 'bootstrap-rtl.min.scss';
@import 'bootstrap-datepicker.scss';
@import 'bootstrap-datepicker.min.scss';
@import 'bootstrap-datepicker.standalone.scss';
@import 'bootstrap-datepicker.standalone.min.scss';
@import 'bootstrap-datepicker3.scss';
@import 'bootstrap-datepicker3.min.scss';
@import 'bootstrap-datepicker3.standalone.min.scss';
@import 'bootstrap-datepicker3.standalone.scss';
@import 'style.scss';
@import 'jquery.dataTables_themeroller.scss';
@import 'jquery.dataTables.scss';
@import 'jquery.dataTables.min.scss';
@import 'dataTables.autoFill.scss';
@import 'dataTables.autoFill.min.scss';
@import 'dataTables.colVis.scss';
@import 'dataTables.colVis.min.scss';
@import 'dataTables.colvis.jqueryui.scss';
@import 'dataTables.fixedColumns (1).scss';
@import 'dataTables.fixedColumns.scss';
@import 'dataTables.fixedColumns.min.scss';
@import 'dataTables.fixedHeader.min.scss';
@import 'dataTables.fixedHeader.min (1).scss';
@import 'dataTables.fixedHeader.scss';
@import 'dataTables.fixedHeader (1).scss';
@import 'dataTables.keyTable.scss';
@import 'dataTables.keyTable.min.scss';
@import 'dataTables.responsive.scss';
@import 'dataTables.scroller.scss';
@import 'dataTables.scroller.min.scss';
@import 'dataTables.tableTools.min.scss';
@import 'dataTables.tableTools.scss';
@import 'ares.scss';
@import 'bar.scss';
@import 'bootstrap-markdown.min.scss';
@import 'camera.scss';
@import 'colorbox.scss';
@import 'custom.scss';
@import 'dark.scss';
@import 'default.scss';
@import 'demo.scss';
@import 'dione.scss';
@import 'erinyen.scss';
@import 'extralayers.scss';
@import 'flexslider.scss';
@import 'font-awesome.scss';
@import 'font-awesome.min.scss';
@import 'footable.core.scss';
@import 'footable.core.min.scss';
@import 'footable.metro.scss';
@import 'footable.standalone.scss';
@import 'gyges.scss';
@import 'hades.scss';
@import 'hebe.scss';
@import 'helper.scss';
@import 'hephaistos.scss';
@import 'hermes.scss';
@import 'hesperiden.scss';
@import 'layers.scss';
@import 'layerslider.scss';
@import 'layerslider.debug.scss';
@import 'layerslider.origami.scss';
@import 'layerslider.popup.scss';
@import 'layerslider.timeline.scss';
@import 'light.scss';
@import 'magnific-popup.scss';
@import 'material.scss';
@import 'material.indigo-blue.min.scss';
@import 'material.min.scss';
@import 'material.min.css.map.scss';
@import 'metis.scss';
@import 'navigation.scss';
@import 'nivo-slider.scss';
@import 'noscript.scss';
@import 'owl.carousel.scss';
@import 'owl.carousel.min.acss';
@import 'owl.pack.scss';
@import 'owl.theme.scss';
@import 'owl.theme.default.scss';
@import 'owl.theme.default.min.scss';
@import 'owl.theme.green.scss';
@import 'owl.theme.green.min.scss';
@import 'owl.transitions.scss';
@import 'pack.scss';
@import 'pe-icon-7-stroke.scss';
@import 'persephone.scss';
@import 'reset.scss';
@import 'searchFilter.scss';
@import 'select2.scss';
@import 'select2.min.scss';
@import 'settings-ie8.scss';
@import 'settings-source.scss';
@import 'settings.scss';
@import 'simpletextrotator.scss';
@import 'summernote-bs2.scss';
@import 'summernote-bs3.scss';
@import 'summernote.scss';
@import 'toastr.scss';
@import 'tp-color-picker.scss';
@import 'ui.jqgrid.scss';
@import 'ui.multiselect.scss';
@import 'uranus.scss';
@import 'zeus.scss';








#main-container {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.devise-container {
  width: 345px;
  padding-left: 15px;
}

.product-block {
  width: 750px;
}

.btn {
  text-decoration: none;
}

body {
  background: #f2f2f2;
}

th {
  background-color: #333333;
  color: white;
}

td {
  background-color: #808080;
  color: white;
}
